* {
	padding: 0px;
	margin: 0px;
}

body {
	background: url("../../resources/images/bac.PNG");
	/* font-family: Verdana, sans-serif; */
	text-shadow: 0px 0px #000000, 0px 0px 0px rgba(0, 0, 0, 0), 0px 4px 2px
		rgba(0, 0, 0, 0.1), 0px 0px -1px rgba(0, 0, 0, 0.1);
}

.container {
	visibility: visible;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fffefe+0,fffefe+100 */
	background: rgb(255, 254, 254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 254, 254, 1) 0%,
		rgba(255, 254, 254, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 254, 254, 1) 0%,
		rgba(255, 254, 254, 1) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 254, 254, 1) 0%,
		rgba(255, 254, 254, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr= '#fffefe',
		endColorstr= '#fffefe', GradientType= 0); /* IE6-9 */
	/* min-height: 800px; */
	box-shadow: 0px 0px 3px #060200;
	/* min-width: 960px; */
	margin: auto;
	/* max-width:1100px; */
	background: -moz-linear-gradient(top, rgba(255, 254, 254, 1) 0%,
		rgba(255, 254, 254, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 254, 254, 1) 0%,
		rgba(255, 254, 254, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 254, 254, 1) 0%,
		rgba(255, 254, 254, 1) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefe',
		endColorstr='#fffefe', GradientType=0);
}

.cabecalho {
	min-height: 120px;
	/*   background: #d8e3ef;  
	background: rgb(26, 248, 248) none repeat scroll 0% 0%;
	 */
	background-image: linear-gradient(to bottom, #D9EDF7 0px, #C4E3F3 100%);
	background-repeat: repeat-x;
	max-height: 600px;
	transform-origin: 1px;
	opacity: 10;
}

.cabecalho #titulo {
	border-bottom: #bfb82e solid 2px;
	margin-bottom: 0px;
}

.cabecalho  .nomeTitulo {
	float: left;
	font-size: 19px;
}

.cabecalho .form_sair {
	float: right;
	margin-right: 10px;
	margin-bottom: 7px;
	margin-top: 7px;
}

#titulo form a {
	padding: 2px 10px 2px 10px;
	background: #127d00;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font-size: 12px;
	box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.85);
	transform-origin: 1px;
}

.cabecalho .nomeTitulo {
	max-width: 82%;
}

.cabecalho #titulo, .cabecalho .form_sair a {
	color: #fdf1cb;
	font-weight: bold;
	text-shadow: 0px 2px #000000, 0px 15px 10px rgba(0, 0, 0, 0.4), 0px 15px
		2px rgba(0, 0, 0, 0.1), 0px 15px 30px rgba(0, 0, 0, 0.1);
	height: 100%;
	background-color: #222 /* rgb(78, 87, 87) */;
	overflow: hidden;
	padding-left: 6px;
	transform-origin: 1px;
}

.cabecalho #titulo form a:hover {
	color: white;
	text-decoration: inherit;
}

.cabecalho #usuario_ano {
	margin-top: 8px;
	max-width: 700px;
	height: 100%;
	margin-bottom: 10px;
	font-size: 11px;
	margin-bottom: 10px;
}

.cabecalho #usuario_ano .calendario {
	margin-top: 20px;
}

.corpo_para_fundo, .ui-panel {
	background: #F1FFFF;
}

.corpo {
	min-height: 650px;
	margin-top: -10px;
}

.corpo .dados_pessoais {
	width: 100%;
	background: #9fcdff;
	float: right;
}

.dados_pessoais h3 {
	margin-left: 50px;
	margin-top: 20px;
}

.dados_pessoais .imagem_usuario, .dados {
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 2px;
}

.dados_pessoais .imagem_usuario {
	height: 140px;
	background: url("../../resources/images/fundo_imagem_usuario.PNG");
}

.dados_pessoais .dados {
	margin-top: 20px;
	background: url("../../resources/images/fundo_imagem_usuario.PNG");
	padding-bottom: 12px;
}

.dados {
	margin-bottom: 20px;
}

.dados p {
	font-size: 14px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
	border-bottom: 1px solid blue;
	color: blue;
	font-weight: bold;
}

.dados_pessoais .dados .texto_label {
	font-weight: bold;
	margin-left: 20px;
}

#rodape {
	clear: both;
	/* border-top: 1px solid #bfb82e; */
	font-weight: bold;
	position: none;
	line-height: 22px;
	color: #FFF;
	text-align: center;
	/* background: #1F1F4E; */
	background-color: rgb(78, 87, 87);
	transform-origin: 1px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	transform-origin: 1px;
}

.table-salvar-aluno-turna {
	visibility: visible;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 37%;
}

#comentario {
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}

.form-box-interno {
	width: 1059px;
	/* 	background: white;	 */
	margin: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #231C1C;
	overflow: hidden;
	min-height: 100px;
}

.form-box-label {
	height: 45px;
	padding-left: 10px;
	font: bold 16px/45px sans-serif;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #fafbfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
	/* FF3.6+ */
	background: -webkit-linear-gradient(linear, left top, left bottom, color- stop(0%,
		#fafbfc), color-stop(100%, #ecf1f4)); /*  Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
	/* IE10+ */
	background: linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafbfc',
		endColorstr='#ecf1f4', GradientType=0); /* IE6-9  */
	border-bottom: 1px solid #bfc3c5;
	box-shadow: 1px 0px 3px #dedede;
	color: #555555;
	text-shadow: 1px 0px 1px white;
}

.form-box-botao {
	background: #d1fefe;
	height: 40px;
}

.form-box-botao .botao {
	float: right;
	margin-top: 6px;
	margin-right: 9px;
	height: 30px;
}

input[type=button], input[type=reset], input[type=submit] {
	padding-top: 3px;
}

.textoCabecalho {
	text-align: center;
}

.table-responsive-professor {
	width: 100%;
	overflow: hidden;
}

.turma-responsivo {
	max-width: 100%;
}

.ui-panel {
	padding: 0;
	margin: 0;
}

.form-cadastro-aluno .panel-encaregado .ui-widget.ui-widget-content {
	border: 0;
}

.ui-panel .ui-panel-content {
	padding: 3px;
	padding-top: 0;
	padding-bottom: 0;
}

.panel-encaregado .ui-corner-all, .panel-encaregado.ui-corner-bottom,
	.panel-encaregado .ui-corner-left, .panel-encaregado .ui-corner-right,
	.panel-encaregado .ui-corner-bl {
	border-radius: 0px;
	box-shadow: 0px 1px #E0DCDC;
}

.ui-panel .ui-panel-content {
	padding: 0px;
	padding-top: 0;
	padding-bottom: 0;
}

.ui-widget-content {
	background: #FDFDFD;
}

.ui-panel .ui-corner-all, .ui-panel .ui-corner-bottom, .ui-panel .ui-corner-left,
	.ui-panel.ui-corner-bl {
	border-bottom-left-radius: 0px;
}

.ui-panel .ui-corner-all, .ui-panel .ui-corner-bottom, .ui-panel .ui-corner-right,
	.ui-panel.ui-corner-br {
	border-bottom-right-radius: 0px;
}

.ui-state-default {
	box-shadow: none;
}
.ui-selectonemenu{
	padding: 0;
}
.ui-icon-search{
	width: 0 !important;
}
.ui-selectonemenu-filter{
	    width: 266% !important;
}
.ui-state-hover {
	box-shadow: none;
}

.panel-professor-turma {
	padding-bottom: 0;
}

.table-sem-border {
	margin-bottom: 0px;
}

.table-sem-border>tbody>tr>td, .table-sem-border>thead>tr>th {
	border: 0;
	padding: 0;
	padding-left: 15px;
	padding-right: 15px;
}

.table-sem-border-padding>tbody>tr>td, .table-sem-border-padding>thead>tr>th
	{
	border: 0;
	padding: 0;
}

.foto-montada {
	margin-top: -15px;
}
.alterarFoto{
  margin-left: 15px;
  margin-top: 9px;
  float: left;
   margin-right: 5%;
  width: 50%;
}
.foto-dados-usuario, .foto-do-usuario {
	border: 2px solid #A4A4A4;
}

.foto-do-usuario {
	float: right;
	margin-top: 1px;
	margin-right: 8px;
	border: 2px solid #A4A4A4;
}

.panel-atualizar-dados {
	min-height: 200px;
	max-width: 95%;
	margin: auto;
	margin-top: 20px;
}

.foto-dados-usuario {
	float: right;
	margin-top: 5px;
	margin-right: 8px;
}

/* para computadores que tem no minimo 405px de ecla */
@media ( min-width : 405px) {
	.cabecalho #usuario_ano {
		font-size: 14px;
		height: 40px;
	}
	.cabecalho #usuario_ano table {
		float: left;
	}
	.cabecalho #usuario_ano .calendario {
		float: right;
		margin-top: 0;
		margin-bottom: 0;
	}
	.corpo .dados_pessoais {
		width: 100%;
	}
	.table-responsive-professor {
		max-width: 80%;
	}
}

/* para computadores que tem no minimo 600px de ecla */
@media ( min-width : 600px) {
	.cabecalho  .nomeTitulo {
		font-size: 28px;
		margin-bottom: 7px;
	}
	.corpo .dados_pessoais {
		width: 403px;
	}
	#titulo form a {
		font-size: 21px;
	}
	.table-responsive-professor {
		max-width: 100%;
	}
}

@media ( min-width : 1024px) {
	.turma-responsivo {
		max-width: 56%;
	}
}

@media ( min-width : 1030px) {
	.turma-responsivo {
		max-width: 100%;
	}
}
