.cab-tabela{
	background: cornsilk;
}

.alterar-vinculo{
    font-size: 13px;
    margin-left: 1%;	
}
.nome-usuario{
	float: left;
    width: 79%;
}
.calendario{
	float: left;
}
.profile-img-tag{
border-radius: 95px;
width: 130px;
height: 130px;
}
.tabela-horarios td {
    text-align: center;
    width: 16%;
}

.tabela-sem-border-padding>tbody>tr>td, .tabela-sem-border-padding>tbody>tr>th,
	.tabela-sem-border-padding>tfoot>tr>td, .tabela-sem-border-padding>tfoot>tr>th,
	.tabela-sem-border-padding>thead>tr>td, .tabela-sem-border-padding>thead>tr>th
	{
	padding: 0;
	vertical-align: inherit;
	border-top: none;
}

.tabala_cadastro {
	border: 1px solid #D3CACA;
	float: left;
	margin: auto;
}

.cabecalhoTabelaRadius {
	border-radius: 1px 1px 0 0;
	letter-spacing: 3px;
}

.colunaAlocarProfessor7 {
	padding-bottom: 4px;
}

.colunaAlocarProfessor1 {
	width: 300px;
}

.coluna4 {
	text-align: center;
}

.coluna5 {
	text-align: right;
	width: 89px;
}

.coluna6 {
	text-align: center;
}

.tabelaProfessor tbody tr:HOVER {
	background: #f8f4f8;
}

.tabelaProfessor .quantidadeAluno {
	text-align: right;
}

.tabelaProfessor .lancarNotaTurma {
	padding-bottom: 8px;
	padding-top: 8px;
}

.tabelaProfessor .lancarNotaTurma img {
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity = 65);
}

.coluna6 {
	height: 1px;
}

.coluna6 a {
	width: 0px;
	font-size: 1px;
	line-height: 27px;
	color: white;
	font-weight: bold;
}

.cabecalhoTabela {
	text-align: center;
	font-size: 16px;
	font-family: sans-serif, Arial; //
	font-weight: bold;
	color: white;
	padding: 3px;
	background: #7D7DB1 0%;
	/* background: yellow;*/
	font-weight: 900;
	transform-origin: 1px;
	/* text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); */
	border-collapse: collapse;
}

.margin-left {
	text-align: left;
}

.tabela_disciplina {
	background: #454547 0%;
	/* background: #888c57;
 color: #000;*/
}

.cabecalhoTabela1, .texto_sub_cabecalho {
	font-size: 16px;
	font-family: sans-serif, Arial;
	font-weight: bold;
	padding: 4px;
}

.cabecalhoTabela2 {
	text-align: center;
	font-size: 16px;
	font-family: sans-serif, Arial;
	font-weight: bold;
	color: #06070e;
	padding: 3px;
	background: #C1C1C8;
}

.footerTabela {
	background: aqua;
	margin: auto;
	height: 35px;
	font-size: 10pt;
}

.texto_sub_cabecalho {
	text-align: center;
}

.tabalaMatriculaBotoes {
	background: #e5f9f9;
}

.tituloMatricula {
	margin-top: 30px;
}

.espaco_texto {
	margin: 20px;
	margin-top: 40px;
}

input, select {
	padding: 3px;
	padding-left: 7px; /* //
	border-radius: 5px; */
	border: 1px solid #ccc;
}

select option {
	padding: 2px;
	padding-left: 7px;
}

select option:HOVER {
	text-transform: uppercase;
}

.form-control {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mensagem {
	background: #80ff80;
	list-style: none;
	margin-top: 20px;
	height: 50px;
	float: left;
	width: 599px;
	text-align: left;
}
/* Configuaracao de PickList de Jsf */
:focus {
	outline: none;
}

.tabela tbody tr td {
	border: 1px solid #D2BABA;
	border-spacing: 1px;
	border-collapse: 1px;
}

.tabela-border-left0 tbody tr td {
	border-left: 0;
}

.testo-tabela {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 3px;
	text-transform: uppercase;
}

.selecionarTurnosDaEscola td {
	width: 100px;
}

.selecionarTurnosDaEscola1 td {
	width: 109px;
}

.selecionarTurnosDaEscola td input {
	margin-right: 10px;
}

input[type="checkbox" i] {
	-webkit-appearance: checkbox;
	box-sizing: border-box;
}

input[type="radio" i], input[type="checkbox" i] {
	margin: 3px 0.5ex;
	padding: initial;
	background-color: initial;
	border: initial;
}

.tabela1 tbody tr:HOVER {
	background: #fffdd2;
	text-shadow: 1px 1px 1px #333333;
}

.tabela2 tbody tr:HOVER {
	background: #fffdd2;
	text-shadow: 1px 1px 1px #333333; //
	height: 25px;
}

.tabela_alocacao .ui-datatable thead th {
	text-align: left;
}

.form-control {
	color: #000;
}
/*Portal de aluno  
 */
.tabela_aluno {
	font-size: 12px;
	font-weight: 700;
	color: #080808;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.cabecalhoTabelaAluno {
	background: #F4F4F4;
	letter-spacing: 1px;
}

.colunaHorarioAluno {
	padding: 5px;
}

.texto1 tbody tr td {
	text-align: center;
	border: 0px;
}

.tabela thead tr th {
	border: 1px solid #D2BABA;
	border-spacing: 1px;
	padding: 5px;
	text-align: center;
	background: rgb(129, 133, 139);
	color: white;
}



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.margin-left10 {
	margin-left: 10px;
}

/* cadastro de aluno */



#progress {
	margin-bottom: 15px;
	overflow: hidden;
	counter-reset: step;
	width:100%;
	text-align: center;
	position: relative;
	z-index: 1;
}


#progress li {
	list-style-type: none;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	float: left;
	width: 25%;
	position: relative;
	/* background: #000; */
}

#progress li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	display: block;
	line-height: 30px;
	background: rgb(200, 199, 114);
	color: #333;
	border-radius: 15px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 22px;
	margin: 0 auto 10px auto;
}


#progress li:after {
	content: '';
	width: 100%;
	background: #004080 ;
	height: 2px;
	position: absolute;
	top: 15px;
	left: -45%;
	z-index:-1;
}

#progress li:first-child:after {
	content: none;
}

#progress li.ativo:before, #progress li.ativo:after {
	background: rgba(56, 47, 90, 1); /*rgba(107, 94, 155, 0.9);*/
	color: white;
	text-shadow: 0 1px 0;
}

#progress li.ativo:after {
	background: #000;
	color: #74f;
}
#progress li.ativo{
  color: cadetblue;
 
}

.acao:hover{
	background:rgba(52,177,140,0.9);
	cursor:pointer;
}

.padding-left0{
	padding-left: 0px !important;
}
.padding-top0{
	padding-top: 0px !important;
}