.table-sem-border .tabelaProfessor tbody>tr>td {
	padding: 2px;
}

.comp-tabela-professor, .tabela-lancar-nota-professor {
	max-width: 100%;
}

.tabela-lancar-nota-professor>tbody>tr>td, .tabela-lancar-nota-professor>tbody>tr>th,
	.tabela-lancar-nota-professor>tfoot>tr>td,
	.tabela-lancar-nota-professor>tfoot>tr>th,
	.tabela-lancar-nota-professor>thead>tr>td,
	.tabela-lancar-nota-professor>thead>tr>th {
	border: 0;
	margin: 0;
	padding-bottom: 0;
}

.ui-panel, .ui-panel .ui-widget, .ui-widget-content, .ui-corner-all {
	/* 	padding-bottom: 0; */
	
}

.comp-tabela-professor>tbody>tr>td, .comp-tabela-professor>tbody>tr>th {
	border: 0;
	padding: 2px;
}

.comp-tabela-professor .table>tbody>tr>td, .comp-tabela-professor .table>tbody>tr>th
	{
	padding: 2px;
}

.tblEditavel>tbody>tr>td, .tblEditavel>tbody>tr>th, .tblEditavel>tfoot>tr>td,
	.tblEditavel>tfoot>tr>th, .tblEditavel>thead>tr>td, .tblEditavel>thead>tr>th
	{
	padding: 4px;
	border-top: 0;
	vertical-align: inherit;
}
.tblEditavel, .tblEditavel tbody .td, .tblEditavel tbody td, .tblEditavel thead tr th {
	border: 1px solid #ddd;
	border: 1px solid #BEBEBE;
	padding: 4px;
	
}


#form-nota-aluno .tblEditavel>tbody>tr>td {
	padding: 5px;
}

.tblEditavel thead {
	background: aqua;
}

.tblEditavel thead tr th {
	padding: 5px;
	border-bottom: 0;
}

.centralizar th, .texto-centro {
	text-align: center;
}

.tblEditavel tbody .media-trimestral {
	width: 83px;
	text-align: center;
}

.tblEditavel tbody  .nome-aluno {
	max-width: 35%;
}

.tblEditavel thead .padding-bottom {
	padding-bottom: 20px;
}

.tblEditavel .inputLancarNota {
	margin: 3px;
	width: 53px;
	padding-left: 3px;
	font-size: 15px;
}
.tblEditavel .resultado {
	font-size: 15px;
}

/*Nao hao aluno para lancar notas  */
.nao-ha-aluno {
	margin-top: 20px;
	background: #FFFFEA none repeat scroll 0% 0%;
	display: block;
	border-radius: 3px;
}

.coluna1-nome-turma {
	text-align: center;
}

@media ( min-width : 1190px) {
	.comp-tabela-professor {
		max-width: 63.7%;
	}
}

@media ( min-width : 992px) and (max-width: 1199px) {
	.comp-tabela-professor {
		max-width: 57%;
	}
}


@media ( max-width : 990px) {
	.tblEditavel .inputLancarNota {
		margin: 1px;
		width: 30px;
		height: 30px;
		padding: 3px;
		font-size: 10px;
	}
	@media ( max-width : 684px) {
		.tblEditavel .inputLancarNota {
			margin: 1px;
			width: 20px;
			height: 30px;
			padding: 0px;
			font-size: 8px;
			border-radius: 0px;
		}
	}
	@media ( max-width : 684px) {
		.tblEditavel .nome-aluno, .tblEditavel .resultado {
			font-size: 9px;
		}
	}
}