
table span[type="data-original-title"]{
	text-transform: lowercase;
	}

.margin{
	 margin-top: 10px;
     margin-left: 5px;
     margin-right:5px;
}
.nao-ha-dado {
   
    background:#d9edf7;
    display: block;
     border-radius: 3px; 
     
}

.fo-tabela{
	text-align: center;
}
.dados .d{
	margin-left: 9px; background: #fff; height: 20%; width: 95%; border-radius: 4px;
}
.margin-left5{
	margin-left: 5px;
	font-weight: bold;
}
.margin-left30{
	margin-left: 30px;
}
.jqplot-title{
	color: blue;
}
table {
	font-size: 1em;
}

.tabela-disciplina-classe>tbody>tr>td, .tabela-disciplina-classe>tbody>tr>th
	{
	padding: 0px;
}



.thead-padding>thead>tr>td, .thead-padding>thead>tr>th {
	padding: 5px;
}

.table-border, .table-border>tbody>tr>td, .table-border>thead>tr>th {
	border: 1px solid #D3CACA;
}

.input-group-btn {
	font-size: 16px;
	margin-top: 10px;
}

.linha3 {
	background: #FFFDFD none repeat scroll 0% 0%;
}

.linha5 {
	background: rgba(251, 251, 251, 0.48) none repeat scroll 0% 0%;
}

.mensagem-info {
	width: 99%;
	background: #F5F5F5;
	margin-left: 11px;
	border-radius: 5px;
}

.tabela-disciplia .coluna2 {
	width: 40%;
}

.tabela-disciplia .coluna1 {
	width: 5%;
}

.tabela-disciplia .coluna3 {
	text-align: center;
}

.tabela-classe .center, .tabela-classe .coluna4, .tabela-classe .coluna5
	{
	text-align: center;
}

.pesquisar-icon {
	background: url("../images/btn.PNG") no-repeat !important;
}

.input-group-btn:last-child>.btn {
	margin-top: 10px;
	padding-right: 26px;
	height: 34px;
	margin-left: 10px;
}

.tabela-disciplina-classe .coluna1, .tabela-disciplina-classe .coluna61,
	.tabela-disciplina-classe .coluna5, .tabela-disciplina-classe .cab-col
	{
	text-align: center;
}

.tabela-disciplina-classe .coluna3 {
	text-align: center;
	width: 14%;
}

#id-excluir:FOCUS {
	border: 0;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-datepicker-trigger {
	width: 25px;
	height: 29px;
}

.margin-left {
	margin-left: 5px;
}

.desabilitado:HOVER {
	cursor: not-allowed;
}

.ui-datepicker-trigger {
	margin-left: 2px;
	margin-bottom: 0px;
	cursor: pointer;
}

.ui-button:ACTIVE {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
}

.ui-button:FOCUS, .ui-button:FOCUS {
	border: 1px solid #ccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}

.output_label {
	text-align: right;
}

.output_label2 {
	text-align: left;
}

input[type="checkbox" i] {
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	box-shadow: 20px;
}

.tabela-cabecalho-alocar-professor {
	background: #EBECEA;
}

.cabecalhoDoTitulo {
	font-weight: normal;
	color: #454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	border-collapse: collapse;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif, Arial;
	padding: 3px;
}

.backgroundTitulo {
	background: #FBF7EC;
}

.colunaHorarioAula1, .colunaHorarioAula2, .colunaHorarioAula3,
	.colunaHorarioAula4 {
	text-align: center;
}

.coluna-horario-aula {
	width: 70px;
}

.input-texto {
	padding: 6px;
	border-radius: 1px;
}

.actualizar-dados {
	float: right;
	/* margin-top: 52px; */
	margin-top: 12% ;
	margin-right: 10px;
	color: rgb(53, 14, 236);
	font-weight: 100;
}

.imagem_usuario .ui-fileupload-buttonbar .ui-fileupload-choose input {
	transform: translate(0px, 0) scale(1.1);
	direction: 0 !important;
}

.table-horario-turma>thead>tr>th {
	padding: 7px;
}

.imagem_usuario .ui-widget-header {
	border: 0;
	background: 0;
}

.imagem_usuario .ui-widget-content {
	border: 0;
	background: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

.imagem_usuario .ui-state-hover .imagem_usuario  .ui-icon,
	.imagem_usuario .ui-state-focus .imagem_usuario .ui-icon,
	.imagem_usuario .ui-button:hover .ui-icon, .imagem_usuario .ui-button:focus .ui-icon
	{
	/* background-image: url("../images/ui-icons_555555_256x240.png");*/
	background-image: none;
}

.imagem_usuario .ui-button ui-widget, .imagem_usuario .ui-state-default,
	.imagem_usuario .ui-corner-all, .imagem_usuario .ui-button-text-icon-left,
	.imagem_usuario .ui-fileupload-choose {
	border: 0;
}

.imagem_usuario .ui-button .ui-icon {
	background-image: none;
}

.cor-fundo {
	background: #D8E3EF none repeat scroll 0% 0%;
	font-weight: bold;
	padding: 5px;
}

.table-horario-aula {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border: 0;
}

.imagem_usuario .ui-button-text {
	color: rgb(53, 14, 236);
	font-weight: normal;
}

.imagem_usuario .ui-button-text:HOVER {
	color: rgb(31, 17, 97) !important;
	font-weight: normal !important;
}

.inputFile {
	font-size: 5px;
	overflow: hidden;
	margin-top: 0;
	margin-left: 0;
}
/* Interaction states
----------------------------------*/
.imagem_usuario .ui-state-default, .imagem_usuario .ui-widget-content .ui-state-default,
	.imagem_usuario .ui-widget-header .ui-state-default, .imagem_usuario .ui-button,
	/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */ .imagem_usuario html .imagem_usuario .ui-button.ui-state-disabled:hover,
	.imagem_usuario html .imagem_usuario.ui-button.ui-state-disabled:active
	{
	border: 0;
	background: 0;
	display: inline;
}

.imagem_usuario .ui-state-active, .imagem_usuario .ui-widget-content .ui-state-active,
	.imagem_usuario .ui-widget-header .ui-state-active, .imagem_usuario a.ui-button:active,
	.imagem_usuario .ui-button:active, .imagem_usuario .ui-button.ui-state-active:hover
	{
	border: 0;
	background: 0;
	font-weight: 0;
	color: 0;
}

.imagem_usuario .ui-button-text-icon-left .ui-button-text {
	padding: 0;
}

.imagem_usuario .ui-button .ui-button-text {
	display: inline;
	line-height: initial;
}

.imagem_usuario .ui-button:HOVER {
	text-decoration: underline !important;
}

.imagem_usuario .ui-state-hover, .imagem_usuario .ui-widget-content .ui-state-hover,
	.imagem_usuario .ui-widget-header .ui-state-hover, .imagem_usuario .ui-state-focus,
	.imagem_usuario.ui-widget-content .ui-state-focus, .imagem_usuario .ui-widget-header .ui-state-focus,
	.imagem_usuario.ui-button:hover, .imagem_usuario .ui-button:focus {
	border: 0;
	background: 0;
	font-weight: 0;
	color: 0;
}

.imagem_usuario .ui-fileupload-buttonbar .ui-button {
	vertical-align: 0;
	font-size: 11pt;
}

.imagem_usuario .ui-button:HOVER {
	text-shadow: 0px;
	box-shadow: 0 0 0;
}

.imagem_usuario .ui-button:ACTIVE {
	text-shadow: 0px;
	box-shadow: 0 0 0;
}

.table-responsive {
	margin-left: 5px;
	margin-right: 1px;
}

.panel-horario-aula {
	margin: 20px 40px 0px;
}

.panel-horario {
	margin: 20px 5px 0px;
}
.tabela-escola {
	margin: 8% auto auto;
	}

.form-atualizar .ui-fileupload-buttonbar .ui-fileupload-choose input {
	transform: translate(-50px, 2px) scale(2);
	top: 8px;
	max-width: 118px;
	max-height: 33px;
}

.form-atualizar .ui-fileupload-files td {
	padding: 0px 2px;
}

.ui-progressbar {
	border-bottom-right-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
}

.form-atualizar .ui-fileupload-preview {
	width: 50px;
	height: 40px;
}
.fieldset{
margin: 2%;
border: 1px solid #ddd;
padding: 15px;
max-width: 55%;
margin-left: 165px;
text-align: center;
}
.ocultar-email option:HOVER {
	text-transform: none;
}
.panelGroup-lista-area .coluna3{
	text-align: center;
}
.tabela-disciplina-classe .coluna2{
	width: 40%;
	
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 3px;
}

.texto-label {
	padding-top: 17px !important;
}

.form-group {
	margin-bottom: 4px;
}

/* portal de aluno  */
@media ( max-width : 767px) {
	.table-responsive {
		margin-left: 0;
		margin-right: 0;
		margin-top: 3px;
	}
	.table-sem-border>tbody>tr>td, .table>thead>tr>th {
		border: 0;
		padding: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.table-sem-border .coluna5 {
		text-align: right;
		width: 50px;
	}
	.tblEditavel {
		max-width: 35%;
	}
}

@media ( max-width : 800px) {
	.tabela-horario-aula-nome-escola {
		margin: 3px 3% -5px !important;
	}
	.panel-horario-aula {
		margin: 0 !important;
	}
}

@media ( max-width : 750px) {
	.data img {
		margin-top: 12px;
	}
	.data label {
		margin-top: 3px !important;
	}
	.data label, .data input {
		margin-top: 12px;
		float: left;
	}
	.mensagem-info {
		width: 97%;
	}
}

@media ( max-width : 580px) {
	.table-sem-border {
		font-size: 7pt;
	}
}
@media ( max-width : 1047px) {
	.tabela-escola {
		margin: 1% auto auto;
	}
}


@media (min-width: @screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: @modal-md +24px;
    margin: 30px auto;
  }