.input-select, .input-select option{
	text-transform: uppercase;
}

.opcoes{
	text-align: center;
}
.theader{
    background: #fbf7f7;
}

.nav-bar>li>a {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	display: block !important;
}

.nav-bar>li>a {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
	line-height: 0px!important;
}

.nav-bar>li>a {
	padding: 10px 10px !important;
}

#bs-example-navbar-collapse-1 {
	font-weight: bold;
	font-size: 16pt;
}

.select-escola option{
	    text-transform: uppercase;
}
.coluna-acompanhamento-matricula{
	    text-align: center;
}
.font-weight900{
	    font-weight: 900;
	   
}

.tabela-renovar thead tr {
	background: antiquewhite;
}

.textfim {
	text-align: right;
}

.tabela-renovar tfoot tr {
	text-align: center;
}

.textfim {
	text-align: right;
}

.comentario ul {
	max-width: 96%;
	margin: auto;
}

.comentario {
	background: #00e7ff0a;
	padding: 1%;
}

.tabela-horario thead tr th{
	    border: 1px solid #D2BABA;
    border-spacing: 1px;
    padding: 5px;
    text-align: center;
    background: rgb(255, 255, 255);
    color: #443131;
}

.table>tfoot>tr>td{
	  padding: 4px;
}

.tabela-cadastro-disciplina>tbody>tr>td, .tabela-cadastro-disciplina>tbody>tr>th,
	.tabela-cadastro-disciplina>tfoot>tr>td, .tabela-cadastro-disciplina>tfoot>tr>th,
	.tabela-cadastro-disciplina>thead>tr>td, .tabela-cadastro-disciplina>thead>tr>th
	{
	padding: 4px;
}
.tabela-visualizar>tbody>tr>td, .tabela-visualizar>tbody>tr>th, .tabela-visualizar>tfoot>tr>td, .tabela-visualizar>tfoot>tr>th, .tabela-visualizar>thead>tr>td, .tabela-visualizar>thead>tr>th{
    padding: 5px !important;
}
.tabela-cor-header thead tr {
	background: #F8F2AC none repeat scroll 0% 0%;
}

.tabela_selecao_disciplina {
	width: 70%;
	margin: 2%;
}

.tabela-cor-header .coluna3 {
	text-align: center;
}
.table-padding-3>tbody>tr>td, .table-padding-3>tbody>tr>th, .table-padding-3>tfoot>tr>td, .table-padding-3>tfoot>tr>th, .table-padding-3>thead>tr>td, .table-padding-3>thead>tr>th{
    padding: 3px ;
}

table.empty tbody, table.empty tbody td {
	border: 0;
}

.calendario1 {
	width: 64.6%;
	padding-top: 8%;
}

.table-sem-border1>tbody>tr>td, .table-sem-border>thead>tr>th {
	border: 0px none;
}

.calendario-secretario {
	background: rgba(244, 247, 249, 0.78) none repeat scroll 0% 0%;
}

.letra-mascula {
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
	text-shadow: 1px 0px 0px #68E768;
	font-weight: 600
}

.calendario-secretario table tbody tr td {
	padding: 4px;
}

.table-sem-border-tbody>thead {
	height: 55px;
}

.table-sem-border-tbody>tbody>tr>td, .table-sem-border-tbody>tbody>tr>th,
	.table-sem-border-tbody>tfoot>tr>td, .table-sem-border-tbody>tfoot>tr>th,
	.table-sem-border-tbody>thead>tr>td, .table-sem-border-tbody>thead>tr>th
	{
	border-top: none;
}

.dados-aluno {
	margin-top: 1px !important;
	padding-bottom: 4%;
}

.padding-top {
	padding-top: 4px;
}

.mensagem-chat {
	font-size: 16px;
	padding-top: 2px;
	padding-left: 2%;
	background: #FBFBFB;
}

@media ( max-width : 700px) {
	.tabela_selecao_disciplina {
		width: 96%;
	}
}