<!DOCTYPE html>

<html xmlns:th="http:/www.thymeleaf.org">

<head>


<meta name="_csrf" content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" content="${_csrf.headerName}" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<meta charset="UTF-8" />
<title>Sistema de Gestão Escolar</title>
<link rel="icon" type="image/png" href="../resources/images/favicon.ico" />

<link href="../resources/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<link href="../resources/css/login.css" rel="stylesheet" />
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="../resources/images/favicon.ico" />

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../resources/css/login.css" />
<!--===============================================================================================-->
<link rel="stylesheet"
	href="../resources/bootstrap/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
	type="text/css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../resources/vendor/animate/animate.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../resources/vendor/css-hamburgers/hamburgers.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../resources/vendor/animsition/css/animsition.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../resources/vendor/select2/select2.min.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../resources/vendor/daterangepicker/daterangepicker.css" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../resources/bootstrap/css/util.css" />
<link rel="stylesheet" type="text/css"
	href="../resources/bootstrap/css/main.css" />
<!--===============================================================================================-->
</head>

<body>


	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<form method="post"
					class="login100-form validate-form p-l-55 p-r-55 p-t-178 formulario-login"
					th:object="${usuario}">
					<span class="login100-form-title"> Sistema de Gestão Escolar
					</span>

					<div th:if="${!#strings.isEmpty(mensagemSucesso)}">
						<ul style="margin-left: 9px;">
							<span style="color: rgb(255, 5, 15)">ATENÇÃO:</span>
							<li style="font-size: 15px;">A sua senha foi alterada com <b>sucesso</b>.
								Para entrar com a sua nova senha por favor, faça um clique <a
								href="../login.jsp"
								style="margin-left: 0; color: rgb(255, 5, 15)" class="esqueci">aqui</a>.
							</li>
						</ul>
					</div>
					<div th:if="${!#strings.isEmpty(mensagemExp)}">
						<ul style="margin-left: 9px;">
							<span style="color: rgb(255, 5, 15)">ATENÇÃO:</span>
							<li style="font-size: 15px;">Aviso: o endereço de
								recoperação de senha já <b>expirou</b>. Por favor, Faça um novo
								pedido clicando <a href="../senha.jsf"
								style="margin-left: 0; color: rgb(255, 5, 15); font-size: 17px;"
								class="esqueci">aqui</a>.
							</li>
						</ul>
					</div>
					<div th:if="${!#strings.isEmpty(mensagemErro)}">
						<ul style="margin-left: 9px;">
							<li style="color: #F00;" th:text="${mensagemErro}">
								Mensagem!!!</li>
						</ul>
					</div>



					<div class="wrap-input100 validate-input"
						data-validate="O campo senha é obrigatório!">
						<input class="input100 senha" type="password" name="password"
							id="senha" th:field="*{novaSenha}" placeholder="Nova Senha"></input>
						<span class="focus-input100"></span>
					</div>
					<br />
					<div class="wrap-input100 validate-input"
						data-validate="O campo confirmar senha é obrigatório!">
						<input class="input100 senha" type="password" id="cofirmarSenha"
							th:field="*{confirmaSenha}" placeholder="Confirmar a senha nova"></input>
						<span class="focus-input100"></span>
					</div>

					<input type="hidden" id="id" th:field="*{id}" />


					<div class="text-right p-t-13 p-b-23">
						<a href="../login.jsp" class="txt2"> Voltar ao Login</a>
					</div>
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">Alterar
							Senha</button>
					</div>


					<div class="flex-col-c p-t-110 p-b-40">
						<span class="txt1 p-b-9"> © &nbsp;<span id="tempo"></span>&nbsp;|&nbsp;
							SIGE
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!--===============================================================================================-->
	<script src="../resources/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="../resources/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="../resources/vendor/bootstrap/js/popper.js"></script>
	<script src="../resources/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="../resources/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="../resources/vendor/daterangepicker/moment.min.js"></script>
	<script src="../resources/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="../resources/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="../resources/js/main.js"></script>


</body>
</html>
</html>